<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <appSettings>
    
    <add key="aspnet:MaxJsonDeserializerMembers" value="999999999"/>

    <add key="Central_NEW" value="server=localhost;uid=root;pwd=shineekey91;database=unilocker01;  Connection Timeout=3600;" />
    <!--<add key="Central_NEW" value="server=160.153.62.69;uid=ncm;pwd=QIzscCuT5T-x;database=unilocker02;  Connection Timeout=3600;" />-->

    <add key="SMTP" value="smtpout.secureserver.net"/>
    <add key="SMTP_PORT" value="3535"/>
    <add key="EMAIL" value="notificaciones@unilocker.com.mx"/>
    <add key="PWD" value="locker95?"/>
    <add key="SSL" value="false"/>

    <add key="EMAIL_ADMIN" value="notificaciones@unilocker.com.mx;"/>
    <add key="PORTAL_ADMIN" value="http://www.unilocker.com.mx/"/>

    <add key="AUTH_DAYS" value="3"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>